- pyspark dataframe
- reading the dataset
- checking the datatypes of column
- select columns and indexing
- check describe option similar to Pandas
- adding columns
- dropping columns

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/11 23:17:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/08/11 23:17:51 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/08/11 23:17:51 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/08/11 23:17:51 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [6]:
df_pyspark = spark.read.option('header', True).csv('test1.csv')

In [7]:
df_pyspark.show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|Krist| 10|        20|
|Peter| 30|         5|
| Nate| 20|        12|
+-----+---+----------+

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [9]:
df_pyspark.head(3)

[Row(Name='Krist', age='10', Experience='20'),
 Row(Name='Peter', age='30', Experience='5'),
 Row(Name='Nate', age='20', Experience='12')]

In [10]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [11]:
# Read DataSet
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)

In [12]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [13]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [14]:
df_pyspark.columns

['Name', 'age', 'Experience']

In [16]:
df_pyspark.head(3)

[Row(Name='Krist', age=10, Experience=20),
 Row(Name='Peter', age=30, Experience=5),
 Row(Name='Nate', age=20, Experience=12)]

In [17]:
df_pyspark.select(['Name', 'age']).show()

+-----+---+
| Name|age|
+-----+---+
|Krist| 10|
|Peter| 30|
| Nate| 20|
+-----+---+

In [18]:
type(df_pyspark['Name'])

pyspark.sql.column.Column

In [19]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int')]

In [20]:
df_pyspark.describe().show()

+-------+-----+----+------------------+
|summary| Name| age|        Experience|
+-------+-----+----+------------------+
|  count|    3|   3|                 3|
|   mean| NULL|20.0|12.333333333333334|
| stddev| NULL|10.0| 7.505553499465135|
|    min|Krist|  10|                 5|
|    max|Peter|  30|                20|
+-------+-----+----+------------------+

In [21]:
df_pyspark.withColumn('Experience After two years', df_pyspark['Experience'] + 2).show()

+-----+---+----------+--------------------------+
| Name|age|Experience|Experience After two years|
+-----+---+----------+--------------------------+
|Krist| 10|        20|                        22|
|Peter| 30|         5|                         7|
| Nate| 20|        12|                        14|
+-----+---+----------+--------------------------+

In [22]:
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+
|New Name|age|Experience|
+--------+---+----------+
|   Krist| 10|        20|
|   Peter| 30|         5|
|    Nate| 20|        12|
+--------+---+----------+

In [23]:
df_pyspark.drop('Experience After two years').show()

+-----+---+----------+
| Name|age|Experience|
+-----+---+----------+
|Krist| 10|        20|
|Peter| 30|         5|
| Nate| 20|        12|
+-----+---+----------+