# Dropping Column
- Dropping column
- Dropping rows
- Various parameter in dropping functionality
- Handling missing values by Mean, Median and Mode

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('spark').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/08/11 22:08:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/08/11 22:08:57 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
df_pyspark = spark.read.csv('test3.csv', header=True, inferSchema=True)

In [5]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
| Sunhand|  30|         8| 50000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 15000|
|Shuhaham|  21|         1| 18000|
|  Mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [6]:
# Drop column

In [7]:
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 50000|
|  29|         4| 20000|
|  24|         3| 15000|
|  21|         1| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [9]:
# any row with null value will be deleted
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
| Sunhand| 30|         8| 50000|
|   Sunny| 29|         4| 20000|
|    Paul| 24|         3| 15000|
|Shuhaham| 21|         1| 18000|
+--------+---+----------+------+

In [11]:
# any: how = 'all': when all of value in columns are null
df_pyspark.na.drop(how='all').show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
| Sunhand|  30|         8| 50000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 15000|
|Shuhaham|  21|         1| 18000|
|  Mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [12]:
# any: how = 'all': when all of value in columns are null
df_pyspark.na.drop(how='any').show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
| Sunhand| 30|         8| 50000|
|   Sunny| 29|         4| 20000|
|    Paul| 24|         3| 15000|
|Shuhaham| 21|         1| 18000|
+--------+---+----------+------+

In [14]:
# threshold = 2: at least 2 non null value present, it's not deleted
df_pyspark.na.drop(how='any', thresh=2).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
| Sunhand|  30|         8| 50000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 15000|
|Shuhaham|  21|         1| 18000|
|  Mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
+--------+----+----------+------+

In [15]:
# threshold = 2: at least 2 non null value present, it's not deleted
df_pyspark.na.drop(how='any', thresh=1).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
| Sunhand|  30|         8| 50000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 15000|
|Shuhaham|  21|         1| 18000|
|  Mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [17]:
# subset
df_pyspark.na.drop(how='any', subset=['Experience']).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|   Krish| 31|        10| 30000|
| Sunhand| 30|         8| 50000|
|   Sunny| 29|         4| 20000|
|    Paul| 24|         3| 15000|
|Shuhaham| 21|         1| 18000|
|    NULL| 34|        10| 38000|
+--------+---+----------+------+

In [18]:
# Filling the missing value

In [23]:
df_pyspark.na.fill(10, ['Experience','Salary']).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
| Sunhand|  30|         8| 50000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 15000|
|Shuhaham|  21|         1| 18000|
|  Mahesh|NULL|        10| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|        10|    10|
+--------+----+----------+------+

In [24]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|   Krish|  31|        10| 30000|
| Sunhand|  30|         8| 50000|
|   Sunny|  29|         4| 20000|
|    Paul|  24|         3| 15000|
|Shuhaham|  21|         1| 18000|
|  Mahesh|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
|    NULL|  36|      NULL|  NULL|
+--------+----+----------+------+

In [26]:
from pyspark.ml.feature import Imputer

In [27]:
imputer = (Imputer(
    inputCols = ['age', 'Experience', 'Salary'],
    outputCols= ["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
).setStrategy("mean"))

In [28]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   Krish|  31|        10| 30000|         31|                10|         30000|
| Sunhand|  30|         8| 50000|         30|                 8|         50000|
|   Sunny|  29|         4| 20000|         29|                 4|         20000|
|    Paul|  24|         3| 15000|         24|                 3|         15000|
|Shuhaham|  21|         1| 18000|         21|                 1|         18000|
|  Mahesh|NULL|      NULL| 40000|         29|                 6|         40000|
|    NULL|  34|        10| 38000|         34|                10|         38000|
|    NULL|  36|      NULL|  NULL|         36|                 6|         30142|
+--------+----+----------+------+-----------+------------------+--------------+