In [11]:
# Pyspark groupby and aggregate

In [12]:
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName('spark').getOrCreate()

In [14]:
df_pyspark = spark.read.csv('test5.csv', header=True, inferSchema=True)

In [15]:
df_pyspark.show()

+--------+------------+------+
|    Name|  department|salary|
+--------+------------+------+
|   Krish|Data Science| 30000|
| Sunhand|         IOT| 50000|
| Sunhand|    Big Data| 20000|
|    Paul|    Big Data| 15000|
|Shuhaham|         IOT| 18000|
|   Peter|Data Science| 18000|
|   Peter|    Big Data| 18000|
+--------+------------+------+

In [16]:
# Groupby

In [17]:
df_pyspark.groupBy('Name').sum().show()

+--------+-----------+
|    Name|sum(salary)|
+--------+-----------+
|   Krish|      30000|
| Sunhand|      70000|
|Shuhaham|      18000|
|   Peter|      36000|
|    Paul|      15000|
+--------+-----------+

In [19]:
# groupby department which gives maximum salary
df_pyspark.groupBy('department').max().show()

+------------+-----------+
|  department|max(salary)|
+------------+-----------+
|         IOT|      50000|
|    Big Data|      20000|
|Data Science|      30000|
+------------+-----------+

In [20]:
df_pyspark.groupBy('department').mean().show()

+------------+------------------+
|  department|       avg(salary)|
+------------+------------------+
|         IOT|           34000.0|
|    Big Data|17666.666666666668|
|Data Science|           24000.0|
+------------+------------------+

In [21]:
df_pyspark.groupBy('department').count().show()

+------------+-----+
|  department|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    3|
|Data Science|    2|
+------------+-----+

In [22]:
df_pyspark.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     169000|
+-----------+

In [23]:
df_pyspark.groupBy('department').avg().show()

+------------+------------------+
|  department|       avg(salary)|
+------------+------------------+
|         IOT|           34000.0|
|    Big Data|17666.666666666668|
|Data Science|           24000.0|
+------------+------------------+